.sqad-cont{
    display: flex;
    align-items:center;
    justify-content: center;
    border: 3px solid;
    border-color:transparent;
    
}
.el{
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    
}
.circle{
    background: #EE8375;
    clip-path: circle(40%);
    height: 3em;
    width: 3em;
    
}
.whelephaunt{
    background-image: url('/src/img/whelephaunt.png');
}
.whhourse{
    background-image: url('/src/img/whhourse.png');
}
.whrook{
    background-image: url('/src/img/whrook.png');
}
.whqueen{
    background-image: url('/src/img/whqueen.png');
}
.whking{
    background-image: url('/src/img/whking.png');
}
.whpawn{
    background-image: url('/src/img/whpawn.png');
}


.blelephaunt{
    background-image: url('/src/img/blelephaunt.png');
}
.blhourse{
    background-image: url('/src/img/blhourse.png');
}
.blrook{
    background-image: url('/src/img/blrook.png');
}
.blqueen{
    background-image: url('/src/img/blqueen.png');
}
.blking{
    background-image: url('/src/img/blking.png');
}
.blpawn{
    background-image: url('/src/img/blpawn.png');
}
.change{
    border-color: red;
}



   
